<br>
<br>
<h2 align="center"> <%= @log.created_at.strftime('%m/%d/%y') %></h2>
<br>
<div style="text-align:center">
<h4>My skin feels: <%= @log.current_condition %> </h4>
<br>
<h4>I tried new products: <%= @log.new_products %></h4>
<br>
<h4>I tried these products: <%= @log.list_products %></h4>
<br>
<h4>Comments: <%= @log.comments %></h4>
</div>
<br>
<div style="text-align:center">
<a href="/logs/<%= @log.id %>/edit">Edit Log</a> 

<form action="/logs/<%= @log.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Log">
</form>
</div>